* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  width: 770px;
  margin: auto;
}

.Header {
  display: flex;
  justify-content: space-between;
  height: 82px;
}

.number {
  width: 585px;
  height: 318px;
  margin: auto;
  background: rgba(23, 10, 10, 0.09);
  font-size: 280px;
  color: orange;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.buttons {
  width: 742px;
  height: 116px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  background: rgba(21, 101, 147, 0.1);
  align-items: center;
}

.btn {
  color: white;
  width: 160px;
  height: 40px;
  margin: 30px;
  border-radius: 4px;
  border: none;
}

.btn-b {
  background-color: blue;
}

.btn-y {
  background-color: orange;
}

.btn-g {
  color: black;
  background-color: rgb(200, 193, 193);
}

.menu {
  width: 568px;
  display: flex;
  background: rgba(0, 164, 56, 0.09);
  align-items: center;
  justify-content: flex-end;
}

.menu h1 {
  font-size: 24px;
  color: #00A438;
  margin: 12px;
}

a {
  text-decoration: none;
}

.logo {
  background: rgba(240, 14, 14, 0.1);
  width: 199px;
}

.main {
  height: 670px;
  background: rgba(210, 0, 164, 0.1);
}

.footer {
  background: rgba(242, 124, 15, 0.3);
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerLogo {
  width: 112px;
}

.footerLogo img {
  width: inherit;
}

.footer-menu {
  font-size: 8px;
  width: 361px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(130, 19, 19, 0.2);
  padding: 10px;
}

.copyright {
  background: rgba(196, 196, 196, 0.4);
  font-size: 10px;
  color: #9b9898;
}