* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Gilroy';
}

.container {
  width: 770px;
  margin: auto;
}

.Header {
  display: flex;
  justify-content: space-between;
  height: 82px;
  align-items: center;
}

.number {
  width: 585px;
  height: 318px;
  margin: auto;
  font-size: 280px;
  color: orange;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.buttons {
  width: 742px;
  height: 116px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}

.btn {
  color: white;
  width: 160px;
  height: 40px;
  margin: 30px;
  border-radius: 4px;
  border: none;
}

.btn-b {
  background-color: blue;
}

.btn-y {
  background-color: orange;
}

.btn-g {
  color: black;
  background-color: rgb(200, 193, 193);
}

.menu {
  width: 568px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu h1 {
  font-size: 24px;
  color: #00A438;
  margin: 12px;
}

a {
  text-decoration: none;
}

.logo {
  width: 199px;
}

.main {
  height: 670px;
}

.footer {
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerLogo {
  width: 112px;
}

.footerLogo img {
  width: inherit;
}

.footer-menu {
  font-size: 8px;
  width: 361px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.copyright {
  font-size: 10px;
  color: #9b9898;
}