* {
  box-sizing: border-box;
  font-family: 'Gilroy';
  font-weight: 500;
}

body {
  margin: 0;
}

.container {
  width: 768px;
  height: 850px;
  margin: auto;
}

.Header {
  display: flex;
  justify-content: space-between;
  height: 82px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.number {
  width: 585px;
  height: 318px;
  margin: auto;
  font-size: 288px;
  color: orange;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.buttons {
  width: 710px;
  height: 58px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}

.btn {
  color: white;
  width: 200px;
  height: 58px;
  border-radius: 4px;
  border: none;
  font-size: 24px;
}

.btn-b {
  background-color: #003399;
}

.btn-y {
  background-color: #F27C0F;
}

.btn-g {
  color: black;
  background-color: #E5E5E5;
}

.menu {
  width: 568px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu h1 {
  font-size: 24px;
  color: #003399;
  margin: 12px;
}

a {
  text-decoration: none;
}

.logo {
  width: 199px;
}

.main {
  height: 670px;
}

.footer {
  width: 770px;
  height: 76px;
  display: flex;
  line-height: 19px;
  align-items: center;
  justify-content: space-between;
}

.footerLogo {
  width: 112px;
}

.footer-menu {
  font-size: 8px;
  width: 361px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-menu a {
  color: rgba(0, 0, 0, 0.5);;
}

.copyright {
  width: auto;
  height: 37px;
  font-size: 8px;
  color: #9b9898;
}